<h1>All the Restaurants</h1>

<p><%= link_to "Add a new restaurant", new_restaurant_path %></p>

<ul>
  <% @restaurants.each do |resto| %>
    <li>
    <h2><%= link_to resto.name, restaurant_path(resto) %></h2>
    <p><%= resto.category %></p>
    <p><%= resto.address %></p>
    <p><%= resto.phone_number %></p>
    </li>
  <% end %>
</ul>
